extends layout
block content
    .page-header
        h1 About
    .row
        .span12
            p Sample
                a(href='http://nodejs.org', target='_blank')= ' Node.js '
                application that uses
                a(href="http://www.searchly.com")= ' Searchly '
                for full text search.
                p Feel free to copy, edit and use for your projects.